
.pai {
display: flex;
background-color: rgb(76, 13, 134);
flex-direction: row-reverse;
  }
  
  .pai > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  body{
    color: rgb(228, 112, 218);
    background-color:black ;
}
 h1{
    text-align: center;
   
 }

a{
    text-decoration: none;
    color: pink;
}

div{
    color: blueviolet;
}
